@font-face {
  font-family: "Valorant";
  src: url("Valo.ttf") format("truetype");
}

h1,
h2 {
  font-family: Valorant;
  color: azure;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ghost {
  left: 36%;
  right: 50%;
  position: relative;
  display: inline-block;
  width: 180px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.ghost:hover,
.ghost:active {
  background-color: #fff; 
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; 
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
