@font-face {
  font-family: "Valorant";
  src: url("Valo.ttf") format("truetype");
}

h1,
h2 {
  font-family: Valorant;
  color: azure;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ghost {
  left: 50%;
  right: 50%;
  vertical-align: baseline;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-weight: 300;
  letter-spacing: 1px;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0.9375em;
  color: #808080;
  padding: 0.5375em 1.375em;
  margin: 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.ghost:hover,
.ghost:active {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
